/* CSS HEX */
test {
  --delft-blue: #3a3f5fff;
  --silver: #c5bab4ff;
  --cool-gray: rgb(107, 94, 224);
  --space-cadet: #1f2b4aff;
  --dutch-white: #e9d9bdff;

  /* CSS HSL */
  --delft-blue: hsla(232, 24%, 30%, 1);
  --silver: hsla(21, 13%, 74%, 1);
  --cool-gray: hsla(246, 24%, 58%, 1);
  --space-cadet: hsla(223, 41%, 21%, 1);
  --dutch-white: hsla(38, 50%, 83%, 1);
}
